body {
        font-family: Calibri;
        font-size: 110%;
        background-color: #383A59;
        color: white;
        -webkit-user-select: none; /*(Chrome/Safari/Opera)*/
        -moz-user-select: none; /*(Firefox)*/
        -ms-user-select: none; /*(IE/Edge)*/
      }

a,
a:hover,
a:active,
a:visited,
a:focus {
        color: white;
        background-color: transparent;
        text-decoration: none;
        }

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #302c34;
        color: white;
        text-align: center;
      }
